*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
}


#ul-menu {
    list-style: none;
    height: 75vh; 
    display: flex;
    flex-direction: column;
    
}

#ul-menu li{
    margin:15px 35px;
    
}

#ul-menu li a{
    text-decoration: none;
    color: black;
}

#tt{
    padding-bottom:10px;
}

#ul-menu li i{
    margin-right: 10px;
}

#botao1{
    justify-content: center;
    align-items: center;
    margin:0px 30px ;
    width: 75%;
    border-radius: 20px;
    height: 44px;
}


#divhome{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

#divhome i{
    margin: auto 0;
    
}

