*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', 'Helvetica Neue' ;
    
}

body{
    overflow-x: hidden;
}

.blue{
    color: rgb(0, 123, 255);
}

#ul-menu li #selecthome{
    color: rgb(0, 123, 255);
}

i:hover{
    cursor: pointer;
}

/* menu lateral esquerdo */
#ul-menu {
    list-style: none;
    height: 75vh; 
    display: flex;
    flex-direction: column;
    
}

#ul-menu li{
    margin:15px 35px;
    
}

#ul-menu li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}

#tt{
    padding-bottom:10px;
}

#ul-menu li i{
    margin-right: 10px;
}

#botao1{
    justify-content: center;
    align-items: center;
    margin:10px 10px ;
    width: 75%;
    border-radius: 20px;
    height: 44px;
}

#perfil{
    display: flex;
    margin-left:42px;
    padding: 20px 0px 20px 0px ;
}

#perfil div{
    margin-left: 20px;
    line-height: 8px;
}

#perfil div i{
    margin-left: 120%;
    line-height: 0.1px;
    font-size: large;
}

#perfil h6{
    font-weight: bolder;
}

#perfil p{
    color: rgb(198, 198, 198);
    font-size: small;
}




/* home main (parte do centro) */

#divhome{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

#divhome i{
    margin: auto 0px;
}

#ismenu{
    align-items: center;
    display: flex;    
    padding: 0px 30px;
}

#publicar i{
    margin: 0px 15px;
}

#publicar button{
    margin-left: auto;
}

.imgredonda{
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
}

#publicar-flex{
    margin: 10px 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

#publicar-flex h4{
    color: rgb(198, 198, 198);
    margin-left: 20px;
}

#botao2{
    background-color: rgb(169, 218, 255);
    justify-content: center;
    align-items: center;
    margin:10px 10px ;
    width: 22%;
    border-radius: 20px;
    height: 38px;
    border: 0px;
}

#botao2:hover{
    background-color: rgb(0, 119, 255);
}


/* configurações aba direita tela(trends) */

#btnsearch{
    padding-top: 7px;
    display: flex;
}

#btnsearch button{
    margin: 0 auto;
    width: 260px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
}

#btnsearch div{
    margin-right: 100px;
}

#trendi{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(211, 211, 211);
}

#trendi h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 10px;
}

#trendi i{
    margin-left: 70px;
}

#trend{
    margin: 10px;
    width: 280px;
    background: rgb(228, 228, 230);
    border-radius: 20px;
}

.linha{
    border-bottom: 1px solid rgb(211, 211, 211); 
}

.trendes{
    padding: 5px 10px;
}

.trendes h6{
    margin-bottom: 0px;
    font-weight: 700;
}

.trendes p{
    margin-bottom: 0px;
    color: rgb(133, 133, 133);
    font-size: 13px;

}

.trendes > div{
    width: 260px;
    display: flex;

}

.trendes > div i{
    margin-left: auto;
}
