*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', 'Helvetica Neue' ;
    
}

body{
    overflow-x: hidden;
}

header{
    position: fixed;
}

footer{
    position: fixed;
}

.blue{
    color: rgb(0, 123, 255);
}

#ul-menu li #selecthome{
    color: rgb(0, 123, 255);
}

i:hover{
    cursor: pointer;
}

/* menu lateral esquerdo */

#div1{
    height: 100vh;
    
}

#ul-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 0px;
}

#ul-menu li{
    margin:15px 35px;
}

#ul-menu li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}



#tt{
    padding-bottom:10px;
}

#ul-menu li i{
    margin-right: 10px;
}

#botao1{
    justify-content: center;
    align-items: center;
    margin:10px 10px ;
    width: 75%;
    border-radius: 20px;
    height: 44px;
}

#perfil{
    display: flex;
    margin-left:42px;
    padding: 20px 0px 20px 0px ;
}

#perfil div{
    margin-left: 20px;
    line-height: 8px;
}

#perfil div i{
    margin-left: 120%;
    line-height: 0.1px;
    font-size: large;
}

#perfil h6{
    font-weight: bolder;
}

#perfil p{
    color: rgb(198, 198, 198);
    font-size: small;
}




/* home main (parte do centro) */



#mn{
    border-right: 1px solid rgb(226, 226, 226);
    border-left: 1px solid rgb(226, 226, 226);
    padding: 0;
}


#ismenu{
    align-items: center;
    display: flex;    
    padding: 0px 30px;
}

#publicar{
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 20px;
}

#publicar i{
    margin: 0px 15px;
}

#publicar button{
    margin-left: auto;
}

.imgredonda{
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
}

#publicar-flex{
    margin: 10px 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

#publicar-flex h4{
    color: rgb(198, 198, 198);
    margin-left: 20px;
}

#botao2{
    background-color: rgb(169, 218, 255);
    justify-content: center;
    align-items: center;
    margin:10px 10px ;
    width: 22%;
    border-radius: 20px;
    height: 38px;
    border: 0px;
}

#botao2:hover{
    background-color: rgb(0, 119, 255);
}

/* -----(ainda na main)   postes main ----- */

.poste{
    
    margin: 0 auto;
    width: 90%;
    display: flex;
}


.flex-poste{
    margin-left: 30px;
}

.flex-poste{
    text-align: justify;
}

.flex-poste div{
    display: flex;    
    align-items: center;
    align-self: center;
    padding-bottom: 5px;
    
}

.flex-poste div p{
    color: rgb(198, 198, 198);
    font-size: 12px;
    padding-left: 10px;
    margin: 0;
    
    
}

.flex-poste div h6{
    font-weight: 700;
    margin-bottom: 0;
}

.flex-poste  > ul{
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
 }

.flex-poste  ul  li{
    display: flex;
    
}

.flex-poste ul p{
    float: right;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
}


#img-river{
    background: yellow;
    width: 90%;
    height: 80%;
    margin-bottom: 15px;
}

/*main final*/

#finalposte{
    margin: 10px;
    display: flex
}

#finalposte >div{
    margin: 0 auto;
    padding-top: 5px;
}

#finalposte >div:hover{
    cursor: pointer;
    color: rgb(101, 175, 255);
    text-decoration: underline;
}





/* configurações aba direita tela(trends) */



#btnsearch{
    padding-top: 7px;
    display: flex;
}

#btnsearch button{
    margin: 0 auto;
    width: 260px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
}

#btnsearch div{
    margin-right: 100px;
}

#trendi{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(211, 211, 211);
}

#trendi h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 2px;
    padding: 13px;
}

#trendi i{
    margin-left: 86px;
}

#trend{
    margin: 10px 0px 10px 0px;
    background: rgb(228, 228, 230);
    border-radius: 20px;
}

.linha{
    border-bottom: 1px solid rgb(211, 211, 211); 
}

.trendes{
    padding: 10px 20px;
}

.trendes h6{
    margin-bottom: 0px;
    font-weight: 700;
}

.trendes p{
    margin-bottom: 0px;
    color: rgb(133, 133, 133);
    font-size: 13px;

}

.trendes > div{
    width: 260px;
    display: flex;

}

.trendes > div i{
    margin-left: auto;
}

/* ------infos------ */

#infos p{
    color: rgb(68, 95, 252);
    margin: 10px 0px 0px 12px;
}

#infos ul li a{
    font-size: 13px;
    color: rgb(133, 133, 133);
}

#infos ul i{
    align-self: center;
}


@media (max-width: 662px) {
    main{
        width: 100vw;
    }
    .row > .col-3{
        width: 0;
    }
    .row{
        width: 0;
    }
    #poste4{
        margin-top: 25px;
    }
    #div1{
        display: none;
    }
    footer{
        display: none;
    }
  }
  